
.wrapper {
    display: flex;

    
}
/*columns*/
.column {
    width: 50%;
    flex-grow: 1;
    height: 100vh;
}
/*left-column*/


/*right-column*/
.right-column {
    display: flex;
    flex-direction: column;
}

/*======*/

/*halfs*/
.half {
    width: 100%;
    height: 50%;
}
/*top-half*/

/*bottom-half*/

@media screen and (max-width: 800px){
    .wrapper {
        flex-direction: column;
    }
    .column {
        height: 50vh;
        width: 100%;
    }
    .half {
        height: 50vh;
    }
}